<button class="mt-1" mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="min-w-10 max-w-10 min-h-10 max-h-10 flex items-center justify-center rounded-full">
        <img class="border min-w-8 max-w-8 min-h-8 max-h-8 object-cover rounded-full" [src]="src">
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu" class="absolute top-3 -right-2 py-0">
    <button mat-menu-item (click)="signOut()">
        <mat-icon svgIcon="feather:log-out" />
        <span class="text-lg text-slate-900"> {{ 'Menu-Option.Sign-Out' | transloco }} </span>
    </button>
</mat-menu>
