<div class="h-full flex flex-col">

    <!-- Action -->
    <div class="h-12 flex justify-between items-center">
        <button mat-icon-button (click)="goBack()">
            <mat-icon svgIcon="mdi:arrow-left"></mat-icon>
        </button>
        <languages></languages>
    </div>

    <!-- Header -->
    <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex items-center justify-center w-24 h-24 rounded-full bg-[#f3f4f5]">
            <mat-icon class="icon-size-14 text-black" svgIcon="mdi:shield-account"></mat-icon>
        </div>
        <span class="text-3xl leading-8 font-medium">ចូលប្រព័ន្ធវេទិកា</span>
        <span class="text-slate-500 text-center px-6">ចូលប្រព័ន្ធដោយប្រើគណនីវេទិការបស់លោកអ្នក</span>
    </div>

    <!-- Form -->
    <form [formGroup]="form" (keydown.enter)="onEnterKeyPress($event)" class="md-form-field-appearance-outline my-auto">

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>លេខទូរស័ព្ទ</mat-label>
            <mat-icon matPrefix class="mat-icon-6" [svgIcon]="'mdi:phone'"></mat-icon>
            <input matInput [formControlName]="'phone'" type="tel">
            <mat-error *ngIf="form.get('phone')?.hasError('required')">
                សូមបញ្ចូលលេខទូរស័ព្ទ
            </mat-error>
            <mat-error *ngIf="form.get('phone')?.hasError('minlength')">
                លេខទូរស័ព្ទមិនត្រឹមត្រូវ
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>ពាក្យសម្ងាត់</mat-label>
            <mat-icon matPrefix class="mat-icon-6" [svgIcon]="'mdi:lock'"></mat-icon>
            <input matInput type="password" [formControlName]="'password'" #passwordField>
            <button matSuffix mat-icon-button type="button"
                    (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')">
                <mat-icon class="mat-icon-6" [svgIcon]="passwordField.type === 'password' ? 'mdi:eye' : 'mdi:eye-off'"></mat-icon>
            </button>
            <mat-error *ngIf="form.get('password')?.hasError('required')">
                សូមបញ្ចូលពាក្យសម្ងាត់
            </mat-error>
        </mat-form-field>

    </form>

    <!-- Submit Button -->
    <button mat-flat-button class="w-full" [color]="'primary'"
            [disabled]="form.disabled || form.invalid" (click)="signIn()">
        <span *ngIf="!form.disabled">ចូលប្រព័ន្ធ</span>
        <mat-progress-spinner *ngIf="form.disabled" [diameter]="24" [mode]="'indeterminate'" />
    </button>

</div>
