NODE_ENV=development
HTTP_PORT=3006
GRPC_PORT=50056
DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=5455
DB_USERNAME=admin
DB_PASSWORD=admin123
DB_DATABASE=notification_db
DB_TIMEZONE=Asia/Phnom_Penh
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=notification-service
JWT_SECRET=your-secret-key-change-in-production
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=noreply@microservices.com
