<div class="switch-role-wrapper">

    <div class="side-bar-header">
        <span class="text-xl font-semibold text-slate-600">ផ្លាស់ប្តូរសិទ្ធប្រើប្រាស់</span>
        <button mat-icon-button (click)="close()">
            <mat-icon svgIcon="mat_solid:close" />
        </button>
    </div>

    <section class="switch-role-body p-4">
        <ng-container *ngFor="let role of roles">
            <div class="role-item" (click)="selectRole(role)">
                <mat-icon class="role-icon" svgIcon="{{role.icon}}" />
                <span class="role-name">{{ role.name_kh || role.name_en || role.name }}</span>
                <mat-icon class="role-arrow" svgIcon="mat_outline:chevron_right" />
            </div>
        </ng-container>

        <div *ngIf="!roles?.length" class="empty-state">
            <mat-icon svgIcon="mat_outline:inbox" />
            <span>មិនមានសិទ្ធ</span>
        </div>
    </section>

</div>
