# Application
ENV=dev
PORT=3001
GRPC_URL=0.0.0.0:5001
SYSTEM=USER SERVICE

# Database
DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=5455
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_TIMEZONE=UTC
DB_DATABASE=user_db

# Keycloak
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=microservices-platform
KEYCLOAK_CLIENT_ID=kong-gateway
KEYCLOAK_ADMIN_CLIENT_ID=user-service-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=dev-secret

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=user-service-dev
KAFKA_GROUP_ID=user-service-dev-group

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=3600

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:4200

# Logging
LOG_LEVEL=debug

#Telegram bot
TELEGRAM_BOT_TOKEN=empty
TELEGRAM_LOGGER_BOT_TOKEN=empty
TELEGRAM_CHAT_ID=empty
TELEGRAM_LOGGER_CHAT_ID=empty
TELEGRAM_LOGGER_MESSAGE_THREAD_ID=empty
TELEGRAM_OTP_MESSAGE_THREAD_ID=empty