<div class="section">-
        <!-- Content -->
    <div class="content h-[385px]">
        <!-- Main -->
        <div class="relative w-full px-3 h-full">
            <button mat-icon-button [routerLink]="['/auth']" class="absolute top-5 left-4 hover:bg-slate-50 rounded-full w-9 h-9 flex items-center justify-center">
                <mat-icon svgIcon="mdi:arrow-left"></mat-icon>
            </button>
            <!-- Header -->
            <div class="flex flex-col justify-center items-center gap-4">
                <div class="flex items-center justify-center w-24 h-24 rounded-full bg-[#f3f4f5]">
                    <mat-icon class="icon-size-[50px] text-black" [svgIcon]="'mdi:lock-reset'"></mat-icon>
                </div>
                <span class="text-3xl leading-6 font-semibold"> {{ 'Reset-Password' | transloco }} </span>
            </div>

            <!-- Form -->
            <form class="w-full flex flex-col items-center justify-end h-full gap-4" [formGroup]="resetPasswordForm" #resetPasswordNgForm="ngForm">
                <mat-form-field class="w-full">
                    <mat-label> {{ 'Password-Require' | transloco }} </mat-label>
                    <input matInput type="password" [formControlName]="'newPassword'" #newPasswordField />
                    <button mat-icon-button matSuffix type="button" (click)="
                                newPasswordField.type === 'password'
                                    ? (newPasswordField.type = 'text')
                                    : (newPasswordField.type = 'password')
                            ">
                        <mat-icon [svgIcon]="newPasswordField.type === 'password' ? 'mdi:eye' : 'mdi:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
                        {{ 'Password-Require' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
                        {{ 'Password-Min-Length' | transloco }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label> {{ 'Password-Require' | transloco }} </mat-label>
                    <input matInput type="password" [formControlName]="'confirmPassword'" #confirmPasswordField />
                    <button mat-icon-button matSuffix type="button" (click)="
                                confirmPasswordField.type === 'password'
                                    ? (confirmPasswordField.type = 'text')
                                    : (confirmPasswordField.type = 'password')
                            ">
                        <mat-icon [svgIcon]="confirmPasswordField.type === 'password' ? 'mdi:eye' : 'mdi:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
                        {{ 'Password-Require' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.hasError('mismatch')">
                        {{ 'Password-Require' | transloco }}
                    </mat-error>
                </mat-form-field>


                <!-- Submit Button -->
                <button class="helper-mat-button-md w-full" mat-flat-button [color]="'primary'" [disabled]="resetPasswordForm.invalid || isLoading" (click)="resetPassword()">
                    <span *ngIf="!isLoading">{{ 'Next' | transloco }}</span>
                    <mat-progress-spinner *ngIf="isLoading" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>


</div>
