<div class="section">

    <!-- isLoading -->
    <ng-container *ngIf="isLoading; else content">
        <user-dashboard-skeleton-component/>
    </ng-container>

    <ng-template #content>

        <!-- Cover  -->
        <div class="w-full aspect-[2/1] max-h-[220px] h-[220px] min-h-[220px]">
            <img src="images/background/background-side.JPG" alt="" class="w-full h-full object-cover">
        </div>

        <!-- Content Container -->
        <div class="mx-auto w-full px-4 sm:px-6 lg:px-8">

            <div class="flex flex-col gap-4 -mt-16">

                <!-- Top Section -->
                <div class="flex items-end gap-4 w-[80%] mx-auto">
                    <!-- Desktop View -->
                    <div class="hidden md:flex items-center gap-3">
                        <div class="relative min-w-32 h-32 hover:bg-slate-100 rounded-full">
                            <img class="w-full h-full bg-white rounded-full object-cover border-4 border-white"
                                [src]="'images/avatars/avatar.jpeg'"
                                [alt]="current_lang === 'en' ? (data?.name_en || '') : (data?.name_kh || '')">
                            <!-- Status Icon -->
                            <div *ngIf="completion_percentage !== 100" class="absolute bottom-0 right-0 h-10 w-10 flex items-center justify-center bg-amber-500 rounded-full">
                                <mat-icon class="icon-size-10 text-white" svgIcon="mdi:progress-check"></mat-icon>
                            </div>
                            <div *ngIf="completion_percentage === 100" class="absolute bottom-0 right-0 h-10 w-10 flex items-center justify-center bg-green-500 rounded-full">
                                <mat-icon class="icon-size-10 text-white" svgIcon="mdi:check"></mat-icon>
                            </div>
                        </div>

                        <!-- User Info -->
                        <div class="flex flex-col cursor-pointer mt-[68px]">

                            <!-- Name -->
                            <div class="flex flex-col items-start justify-start gap-2">
                                <span class="text-3xl font-semibold">
                                    {{ data?.first_name }} {{ data?.last_name }}
                                </span>
                                <span class="text-lg font-normal text-black">
                                    {{ data?.first_name }} {{ data?.last_name }}
                                </span>
                                <span class="flex items-center text-md font-light text-gray-500 gap-1">
                                  <mat-icon class="icon-size-4 text-gray-400" svgIcon="mdi:phone-outline"></mat-icon>
                                  {{ data?.phone }} •
                                  <mat-icon class="icon-size-4 text-gray-400" svgIcon="mdi:email-outline"></mat-icon>
                                  {{ data?.email }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Mobile View -->
                    <div class="md:hidden flex items-center gap-1 w-full mt-6">
                        <div class="relative max-w-18 w-18 min-w-18 min-h-18 h-18 max-h-18 hover:bg-slate-100 rounded-full">
                            <img class="w-full h-full bg-white rounded-full object-cover border-4 border-white cursor-pointer"
                                    [src]="data?.avatar?.file_domain && data?.avatar?.uri ? data.avatar.file_domain + data.avatar.uri : 'images/avatars/avatar.jpeg'"
                                [alt]="current_lang === 'en' ? (data?.name_en || 'No Name') : (data?.name_kh || 'គ្មានឈ្មោះ')">
                            <!-- Status Icon -->
                            <div *ngIf="completion_percentage !== 100" class="absolute bottom-0 right-0 h-6 w-6 flex items-center justify-center bg-amber-500 rounded-full">
                                <mat-icon class="icon-size-5 text-white" svgIcon="mdi:progress-check"></mat-icon>
                            </div>
                            <div *ngIf="completion_percentage === 100" class="absolute bottom-0 right-0 h-6 w-6 flex items-center justify-center bg-green-500 rounded-full">
                                <mat-icon class="icon-size-5 text-white" svgIcon="mdi:check"></mat-icon>
                            </div>
                        </div>

                        <!-- User Info -->
                        <div class="rounded-lg w-full p-3 flex flex-col items-start justify-end cursor-pointer mt-9">
                            <!-- Name -->
                            <div class="flex flex-col items-start justify-start gap-2">
                                <span class="text-xl font-semibold">
                                    {{ data?.first_name }} {{ data?.last_name }}
                                </span>
                                <span class="text-base font-normal text-black">
                                    {{ data?.first_name }} {{ data?.last_name }}
                                </span>
                                <span class="flex items-center text-sm font-light text-gray-500 gap-1">
                                  <mat-icon class="icon-size-4 text-gray-400" svgIcon="mdi:phone-outline"></mat-icon>
                                  {{ data?.phone }} •
                                  <mat-icon class="icon-size-4 text-gray-400" svgIcon="mdi:email-outline"></mat-icon>
                                  {{ data?.email }}
                                </span>
                            </div>
                        </div>
                    </div>


                    <!-- Action -->
                    <div class="inline-flex self-center ml-auto bg-white rounded-xl">


                        <!-- Request Button -->
                        <button mat-stroked-button
                                class="min-w-[136px] flex items-center gap-2 px-3 md:px-4 rounded-xl rounded-r-none hover:shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1),0_2px_4px_-2px_rgba(0,0,0,0.1)]"
                                >
                            <mat-icon class="icon-size-4 md:icon-size-5" svgIcon="mdi:file-edit-outline"></mat-icon>
                            <div class="flex items-center gap-2">
                                <span class="hidden md:flex text-sm md:text-base">{{ "សំណើសុំច្បាប់" | transloco }}</span>
                            </div>
                        </button>

                        <!-- Download Button -->
                        <button mat-stroked-button [disabled]="isDownloading"
                                class="min-w-[136px] flex items-center gap-2 px-3 md:px-4 rounded-xl rounded-l-none hover:shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1),0_2px_4px_-2px_rgba(0,0,0,0.1)]"
                                [matMenuTriggerFor]="downloadMenu">
                            <mat-icon *ngIf="!isDownloading" class="icon-size-4 md:icon-size-5" svgIcon="mdi:download-outline"></mat-icon>
                            <div *ngIf="!isDownloading" class="flex items-center gap-2">
                                <span class="hidden md:flex text-sm md:text-base">{{ "ទាញយក" | transloco }}</span>
                            </div>
                            <mat-progress-spinner *ngIf="isDownloading" [diameter]="24" [mode]="'indeterminate'" [color]="'primary'" />
                        </button>

                    </div>

                </div>

            </div>
        </div>
    </ng-template>

</div>
